.column ul li {
    overflow: hidden;
    display: block;
  }
  
  .row {
    display: flex;
    font-size: 20px;
  }
  
  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
  }
  
  .container {
    height: 30%;
    width: 50%;
  }
  
  ul {
    padding: 80px;
  }
  
  .tile {
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .vl {
    border-left: 2px solid black;
    height: 33px;
    padding: 5px;
  }
  
  h3 {
    padding: 5px;
    font-size: 15px;
  }
  
  .row1 {
    display: flex;
    padding-left: 180px;
    padding-top: 10px;
  }
  
  .row2 {
    display: flex;
    padding-left: 400px;
    padding-top: 10px;
    text-align: center;
  }
  
  hr {
    margin: 20px;
    border: 1px solid black;
  }
  
  h3:hover {
    color: pink;
  }